<a href="https://colab.research.google.com/github/sumitmsc/PythonPractice/blob/main/PythonFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=23
result=a+b
print(f"addition of {a} and {b} is ==>",result)

addition of 10 and 23 is ==> 33

In [ ]:
print("hello- New Cell")

hello- New Cell

In [ ]:
a=10
if a>10:
  print("hello")

type(a)

int

In [ ]:
y=str(a)
print(y)
type(y)

10

str

In [ ]:
Age=10
age=23
print(age,Age)
print(id(Age))
print(id(age))

23 10
11642376
11642792

Arithmetic operators +,-*/,//(integer devision),**
Logical operators and, or , not
relational operators ->,<,<=,>=,!=,==
Unary operators are not available
Bolean true false\
Bitwise- &,|
membership operators in, not in
is, is not

In [ ]:
a=2
b=5
print(a**b)# a power of b

print('technical devision', a/b)
print('integer/floor devision',a//b)

32
technical devision 0.4
integer devision/floor 0

In [ ]:
!python --version

Python 3.12.11

In [ ]:
a=10
b=10
c=10
print(id(a))
print(id(b))
print(id(c))

b=50
print()
print(id(b))

print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))

11642376
11642376
11642376

11643656
0xb1a608
0xb1ab08
0xb1a608

In [ ]:
#use of \ for better readablilty
total=1+2+3+\
4+5+6
print(total)

21

In [ ]:
#Program for checking dynamic nature of python, dynamically typed language
counter=100
miles=11.11
name='Sumit'
print(counter, miles, name)
print(type(counter))
print(type(miles))
print(type(name))
#del use

#del counter
print(miles)
print(name)
counter=12
print(counter)

100 11.11 Sumit
<class 'int'>
<class 'float'>
<class 'str'>
11.11
Sumit
12

In [ ]:
#Explicit Continuation
s="Today we are learning explicit continuation"\
"and it will give error"
print(s)

Today we are learning explicit continuationand it will give error

In [ ]:
#implicit continuation
numbers=[1,2,3,
         4,5,6]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Operators in Python
a=10
b=3
print(a//b)#floor=nearest lower integer
print(a/b)
print(a**b)#10 to the power of 3
print(f'checking identity for {a} is equal to {b}==>',a is b)#Identity operator
print(f'checking identity for {a} is not equal to {b}==>',a is not b)#identity operator true
#Membership operators
str='hello'
print('Membershio operator example')
print('e' in str)
print('e' not in str)

3
3.3333333333333335
1000
checking identity for 10 is equal to 3==> False
checking identity for 10 is not equal to 3==> True
Membershio operator example
True
False

In [ ]:
print(help)
help(print)

Type help() for interactive help, or help(object) for help about object.
Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
#Use of membership opertor to check the word in given string

str='hello'
print('Please enter the word you want to search')
s=input()
print(f'you are searching the word {s} in the string')
'''if s in str:
   print(f'{s} is avalable in string')
else:
   print(f'{s} is not available in string')
'''
print(s in str)

Please enter the word you want to search
h
you are searching the word h in the string
True

In [ ]:
#Use of identity operator is , is not

a=10
b=10
print(a is not b)

False

In [ ]:
#Class of a variable
a=10
b=10
print(type(a))
print(type(b))
print(id(a))
print(id(b))
a=a+2
print(a)
print(id(a))

<class 'int'>
<class 'int'>
11642376
11642376
12
11642440

In [ ]:
#Slicing (start:end:step)
str="Program"
print(str[1:6])#Upper limit is not inclusive thats why rogra str[lower limit: upper limit -1]
#Now we are checking the step 2 result it should be r g a as those are situated in the range 1:6 with steps 2
print(str[1:6:3])

rogra
rr

In [ ]:
#Check for Palindrom
s=input("enter the string ").lower()
if s==s[::-1]:
  print("palindrom")
else:
  print("not palindrom")

  '''s = input("enter the string ")

This line asks the user to type a string.

Whatever you type will be stored in the variable s.

Example: if you type madam, then s = "madam".

s[::-1]

This is Python slicing.

It means: take the string s and reverse it.

Breakdown:

s[start:stop:step]

Here, start and stop are empty → it takes the whole string.

step = -1 → means "go backwards".

So if s = "madam", then s[::-1] = "madam" (same when reversed).

if s == s[::-1]:

This compares the original string to its reversed version.

If both are the same → it’s a palindrome.

Example:

"madam" == "madam" ✅ (palindrome)

"hello" == "olleh" ❌ (not palindrome)

print("palindrom") / print("not palindrom")

Based on the condition:

If true → prints palindrom

If false → prints not palindrom'''

enter the string Nitin
not palindrom

In [ ]:
#Program to check palindrom or not
s=input('enter the string to check if the string is  palindrom or not ')
if s==s[::-1]:
  print(f'You have entered string {s} and string is Palindrom')
else:
  print(f'You have entered string {s} and string is Not Palindrom')

enter the string to check if the string is  palindrom or not Nitin
You have entered string Nitin and string is Not Palindrom

In [ ]:
str='program'
str=str[-1:-2]
print(str)

In [ ]:
#String immutability
a="hello"
print(a)
a="H" + a[2:]
print(a)

hello
Hllo
Checking replace function
HelloH
helloh

In [ ]:
#checking replace function
print('Checking replace function')
a='helloh'
a1=a.replace('h','H')
print(a1)
print(a)

Checking replace function
HelloH
helloh

In [ ]:

#checking replace function
print('Checking replace function')
a='helloh'
a1=a.replace('h','H')
print(a1)
print(a)
print(len(a))
print(a.upper())
print(a.lower())
print(a.capitalize())

Checking replace function
HelloH
helloh
6
HELLOH
helloh
Helloh

In [ ]:
#Join function
l=["Hello","how","are","you"]
print(l[1])
print(" ".join(l))#Seperated by space
print("#".join(l))#Seperated by #
print(",".join(l))#Seperated by ,

how
Hello how are you
Hello#how#are#you
Hello,how,are,you

In [ ]:
#concatination symbol
a='heelo'
b='sumit'
c=a + " " + b + " "
print(c*3)
print('*'*10)#in strings * is repitation operator

heelo sumit heelo sumit heelo sumit
**********

In [ ]:
#List uses []
#List are mutable l1[2]='NEW' is posible/replace ment is possible (assignment operator)
#
l=[1,2,3,4,5]
l1=list()
print(type(l))
print(l)
l1=[10.3,20,30,'Rakhee']#Multiple type of data can be stored in the list
print(l,l1)
print(type(l1[3]))
print(l1[-1])
st=["hello","how","are","you"]
print(st)
s1=" ".join(st)# Converting list into string by using join method
print(s1)

<class 'list'>
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] [10.3, 20, 30, 'Rakhee']
<class 'str'>
Rakhee
['hello', 'how', 'are', 'you']
hello how are you

In [ ]:
#tuple
#tuple dose not support the assignamet operator
#Tuple/strings are immutable
t=(1,2,3,4)
t1=tuple()#Constructor
print(type(t))
print(type(t1))
t1=(10.5,34,"Rakhee")

print(t)
print(t1)

t1[2]='New'
print(t1)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)
(10.5, 34, 'Rakhee')

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Set
#sets are mutable
s=set() #set constructor
print(type(s))
s1={1,2,3,3,3, 4,5} #set must have comma seperation ow s1={} empty it is a dictionary also it will show single value of duplicate data
print(type(s1))
print(s1)
s1.add(8)
print(s1)
s1.remove(3)
print(f'after removing',s1)
s2={}
print(s2)
print(type(s2))

<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 8}
after removing {1, 2, 4, 5, 8}
{}
<class 'dict'>

In [ ]:
#Dictionary
d={}
d1=dict() #Constructor
print(type(d))
print(type(d1))
d={1:"Rakhee",2:"New"}# Key: Value pair considered as one value
print(d)
print(d[1])
print(d[3])

<class 'dict'>
<class 'dict'>
{1: 'Rakhee', 2: 'New'}
Rakhee

KeyError: 3

In [ ]:
#IF...Else
s=int(input("enter age ==>"))
if s>=18:
  print(" eligible for vote")
else:
  print("not eligible for vote")
  print('Bye')

enter age ==>18
 eligible for vote

In [ ]:
#Program to check If age is >24 and exp is >5 eligible for job ow not
age=int(input('enter the age of the candidate==>'))
exp=int(input('enter the experience of the candidate==>'))
if age>=24 and exp>=5:
  print('Candidate is eligible for job')
else:
  print('Candidate is not eligible for job')

enter the age of the candidate==>34
enter the experience of the candidate==>5
Candidate is eligible for job

In [ ]:
#Program to check leap year
year=int(input('Please enter the year you want to check wether its Leap year or not ==>'))
if(year%100!=0 and year%4==0) or year%400==0:
  print(f'you have entered {year} and is a leap year')
else:
  print(f'you have entered{year} and is not leap year')

Please enter the year you want to check wether its Leap year or not ==>1900
you have entered1900 and is not leap year

In [ ]:
#Program to check leap year using ternary operator
year=int(input('Enter the year you want to check weather its a Leap year or not==>'))
print(f'{year} is a leap year') if (year%100!=0 and year%4==0) or year%400==0 else print(f'{year} not a leap year')

Enter the year you want to check weather its a Leap year or not==>2024
2024 is a leap year

In [ ]:
#Program to check weather number is positive, negative or zero
number=float(input('Please enter a number to check weather its positive, negative or zero'))
if(number>0):
  print(f'{number} is positive')
elif(number<0):
  print(f'{number} is negative')
else:
   print(f'{number} is zero')

Please enter a number to check weather its positive, negative or zero-2
-2.0 is negative

In [ ]:
'''#Write a program for grade calculator the accepts the marks of students for 5 subjects. and
#give grade accordingly
90>=A+
80-89 = B
70-79= C
60-69=d
<60=Fail'''
maths=int(input('enter the marks for Maths'))
english=int(input('enter the marks for English'))
science=int(input('enter the marks for Science'))
physics=int(input('enter the marks for Physics'))
Chemistry=int(input('enter the marks for Chemistry'))
TotalMarks=maths+english+science+physics+Chemistry
Total=(TotalMarks/500)*100
print(f'Total Marks obtained by student is {TotalMarks} out of 500 whch is {Total}')
if Total>=90:
  print("A+")
elif Total>=80 and Total<=89:
  print('B')
elif Total>=70 and Total<=79:
  print('C')
elif Total>=60 and Total<=69:
  print('D')
else:
  print('Fail')

enter the marks for Maths50
enter the marks for English50
enter the marks for Science50
enter the marks for Physics50
enter the marks for Chemistry50
Total Marks obtained by student is 250 whch is 50.0
Fail

In [ ]:
'''#Write a code which takes user input reresenting a
geometric shape and its dimensions, and then calculates and print the area of that shape using match case'''

#Program to check area of the circle, rectangle, tringle and square using match

print('please enter the shape you want check area of circle, tringle, rectangle or square==>')

shape=input("Enter the shape").lower()

match shape:
    case "circle":
      print('Enter the radius of the circle')
      r=float(input())
      area=3.14159 * r * r
      print(f'area of circle is ',area:.2f)
    case _:
      print

please enter the shape you want check area of circle, tringle, rectangle or square==>
circle
Enter the radius of the circle
4
area of circle is  50.26544
please enter the shape you want check area of circle, tringle, rectangle or square==>
Enter the shape12

In [ ]:
# Program to calculate area using match-case

print("Choose a shape: circle, rectangle, triangle, square")
shape = input("Enter the shape: ").lower()

match shape:
    case "circle":
        r = float(input("Enter radius: "))
        area = 3.14159 * r * r
        print(f"Area of circle = {area:.2f}")

    case "rectangle":
        l = float(input("Enter length: "))
        w = float(input("Enter width: "))
        area = l * w
        print(f"Area of rectangle = {area:.2f}")

    case "triangle":
        b = float(input("Enter base: "))
        h = float(input("Enter height: "))
        area = 0.5 * b * h
        print(f"Area of triangle = {area:.2f}")

    case "square":
        s = float(input("Enter side: "))
        area = s * s
        print(f"Area of square = {area:.2f}")

    case _:
        print("Invalid shape! Please choose circle, rectangle, triangle, or square.")

In [ ]:
# Program to calculate area using match-case
print("Choose a shape circle, rectangle, tringle or square")
shape=input("Enter a shape=>").lower()

match shape:
  case "circle":
    print("Enter radius of circle ")
    r=float(input())
    area=3.14159*r*r
    print(f"Area of circle is {area:.2f}")
  case "square":
    s=float(input("please enter side of the square "))
    area=s*s
    print(f'Area of the square is {area:.2f}')
  case "tringle":
    base=float(input('please enter base of the tringle'))
    height=float(input('please enter the height of the tringle'))
    area=0.5*base*height
    print(f'Area of tringle is {area:.2f}')
  case "rectangle":
    length=float(input('Enter the lenght of rectangle'))
    width=float(input('Enter the width of rectangle'))
    area=length*width
    print(f'Area of rectangle is {area:.2f}')
  case _:
    print("Invalid Shape!, please enter any of shape circle, rectangle, tringle or square")

Choose a shape circle, rectangle, tringle or square
Enter a shape=>asdf
Invalid Shape!, please enter shape circle, rectangle, tringle or square

In [ ]:
#Odd even check
n=int(input('Enter any number '))
if n%2==0:
  print('even')
else:
  print('odd')

Enter any number 2
even

In [ ]:
#Ternary operator
n=int(input('Enter the number =>'))
res='even' if n%2==0 else 'odd' #True condition, Condition, else part
print('Given number is ', res)

Enter the number =>4
Given number is  even

In [ ]:
#Ternary operator using nested if
n=int(input('Enter the number'))
res='zero' if n==0 else 'positive' if n>0 else 'negative'
print('Given number is ',res)

Enter the number-

ValueError: invalid literal for int() with base 10: '-'

In [ ]:
#Range function in python

for i in range(1,5): #range(start, end, step)
  print(i)           #[start:end:step]

1
2
3
4

In [ ]:
#Range using step

for i in range(15,1,-2):
  print(i)

15
13
11
9
7
5
3

In [ ]:
#Range -5 no option

for i in range(-5): #By default step is +1...
  print(i)    #(0,-5,1)  if -5 ...0+1.....it will not reach to 0 so it wont give us output

In [ ]:
#Range and use of seperator

for i in range(-5,-1):
  print(i,end='.')

-5.-4.-3.-2.

In [ ]:
#check the range from -5 to -1
for i in range(-5,0):
  print(i,end='#')

-5#-4#-3#-2#-1#

In [ ]:
#checking the range 6 to -1
for i in range(6,-6,-1):
  print(i,end=' ')

6 5 4 3 2 1 0 -1 -2 -3 -4 -5

In [ ]:
#Range function with the list Data Structure

l1=['aa','bb','cc','dd']
for i in range(len(l1)):
  print(l1[i],i)
x=str(l1).upper()
print(type(x))
print(x)

aa 0
bb 1
cc 2
dd 3
<class 'str'>
['AA', 'BB', 'CC', 'DD']

In [ ]:
#Range() function with list in python

fruits=['apple','banana','cherry','date']
for i in range(len(fruits)):
  print(fruits[i])
print('type of i in for loop',type(i))
print('type of fruits[i] in for loop',type(fruits[i]))

apple
banana
cherry
date
type of i in for loop <class 'int'>
type of fruits[i] in for loop <class 'str'>

In [ ]:
#Range function in List

l1=['aa','bb','cc','dd']
for i in l1:
  x=i.upper()
  print(i," ",x)

aa   AA
bb   BB
cc   CC
dd   DD

In [ ]:
#itterating oveer list, tuple, string , dictionary ,set

l1=['aa','bb','cc','dd']
for i in range(len(l1)):
  print(l1[i])

aa
bb
cc
dd

In [ ]:
#iterating tuple
tup=("aa","bb","cc")
for i in tup:
  print(i)

aa
bb
cc

In [ ]:
#iterating string
str="testing"
for i in str:
  print(i)

t
e
s
t
i
n
g

In [ ]:
#iterating dictionary

d={'Name':'Sumit','key test':'test value',1:10}
for i in d:
  print(i," ",d[i])

key   value
key test   test value
1   10

In [ ]:
#Set itteration
set1={1,2,3,4,5}
for i in set1:
  print(i)

1
2
3
4
5

In [ ]:
#using else statement in for loop in python
li=["geeks",'for', 'geeks']
for index in range(len(li)): #executes the for loop first then it will
  print(li[index])
else:
  print('Inside else block')

geeks
for
geeks
Inside else block

In [ ]:
#while loop in python

cnt=0
while(cnt<3):
  cnt=cnt+1
  print("hello geeks")

hello geets
hello geets
hello geets

In [ ]:
#while loop 2\
cnt=0
while(cnt<3):
  cnt=cnt+1
  print("geeks")
else:
  print('inside else part')

geeks
geeks
geeks
inside else part

In [ ]:
#loop control statement break use in program
nums=[1,2,3,4,5,6,7]
for n in nums:
  if n==3:
    print('3 is found!')
    break
  else:
    print('3 not found!')

3 not found!
3 not found!
3 is found!

In [ ]:
#loop control statemenst continue
for i in "Geeksandgeeks":
  if i=='e' or i=='s':
   continue
  print('Current Letter',i)

Current Letter G
Current Letter k
Current Letter a
Current Letter n
Current Letter d
Current Letter g
Current Letter k

In [ ]:
#loop control statemenst break
for j in range(5):
  for i in "Geeksandgeeks":
    if i=='e' or i=='s':
      break  #it will break the inner loop only
    print('Current Letter',i)

Current Letter G
Current Letter G
Current Letter G
Current Letter G
Current Letter G

In [ ]:
#Control structure pass no operation will performed
for i in "Geeksandgeeks":
  if i=='e' or i=='s':
    pass
  print('Current Letter',i)

Current Letter G
Current Letter e
Current Letter e
Current Letter k
Current Letter s
Current Letter a
Current Letter n
Current Letter d
Current Letter g
Current Letter e
Current Letter e
Current Letter k
Current Letter s

In [ ]:
#Control structure another example for pass

for i in range(5):
  pass #empty loop

In [ ]:
#Program to check weather the number is primt or not

print("enter the numbers you want to check for prime or not")
n=int(input())
for i in range(2,n):
  if n%i==0:
   print(f'you have entered the number {n} and it is not prime')
   break
else:
  print(f'your number {n} is a prime number')

enter the numbers you want to check for prime or not
9
you have entered the number 9 and it is not prime

In [ ]:
#Program to check weather the number is primt or not with optimization using sqrt of the n
print('Please enter the number you want to checck for prime')
n=int(input())
if n<=1:
  print(f'you have entered {n} which is not prime as its 1 or o or negative number')
else:
  for i in range(2,int(n**0.5)+1):
      if n%i==0:
        print(f'your number {n} is not prime number')
        break

  else:#if you give wrong indentation for this else output will be wrong please consider this else is for's else
        print(f'your number {n} is prime number')

Please enter the number you want to checck for prime
11
your number 11 is prime number

In [ ]:
#to check square root of given number

n=int(input('Enter the number you want to check for square root'))
sqrt_n = n ** 0.5
print(f'Square root of {n} is ' ,sqrt_n)

Enter the number you want to check for square root11
Square root of 11 is  3.3166247903554

In [ ]:
#To check the even number in list

l1=[1,2,3,5,7,9,2]
for i in l1:
  print(i)
  if i % 2 == 0:
    print(f'The given list is having even number{i}')
    break
else:
     print('the list is not having any even number')

1
2
The given list is having even number2

In [ ]:
#Check the prime number

n=int(input('please enter number you wanted to check for Prime or Not Prime...'))
if(n<=1):
  print("the number is not primeyou might have entered number <=1")
else:
  for i in range(2,int(n**0.5)+1):
     if(n%i==0):
        print(f'The number {n} is not prime ')
        break
  else:
        print(f'The number {n} is prime')

please enter number you wanted to check for Prime or Not Prime...11
The number 11 is prime

#List and tuples in details
##List and Tuples are sequence of data
#list are mutable but tuplese are immutable
#A list is dynamic sized array (it can grows and shrinks automatically)
#List Can contain duplicate Data
#Mutable:We can modify,replace and delete the item in the list
#Ordered:Maintains the order of elements based on how they are added
#Items can access directly using their position(index),starting from 0
#May contain the mixed type of items, this is possible because a list mainly stores the refferences at contigious location
#...and actual items may be stored at different locations
Creating List
we can creat a list using []
 countries=["united states","Canada","poland"]

 2 Using Contructor-list()
   Digits=list(range(10))

 3. Converting tuple in list
    L=list((1,2,3,4))

In [ ]:
#List Creation

l1=[]
l2=list(range(10))
t=(1,2,3,4) #tuple
l3=list((t))
print(l1,type(l1))
print(l2,type(l2))
print(l3,type(l3))
str='hello'
l4=list(str)
l4

[] <class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>
[1, 2, 3, 4] <class 'list'>

['h', 'e', 'l', 'l', 'o']

In [ ]:
#input a string and convert it in list
#Check how many vowells are present in the string
s=input('enter any string==>')
l1=list(s)
c=0
for i in l1:
  if i in 'aeiouAEIOU':
    c=c+1
print('the number of vowels present are ', c)

enter any stringSumit
the number of vowels present are  2

In [ ]:
#Input the 2 strings and make them as list and concatinate them

s1=list(input('Please enter the string 1==>'))
s2=list(input('Please enter the string 2==>'))
print(s1, type(s1))
print(s2, type(s2))
s3=s1+s2
print(s3)

Please enter the string 1==>34
Please enter the string 2==>35
['3', '4'] <class 'list'>
['3', '5'] <class 'list'>
['3', '4', '3', '5']

In [ ]:
#input 4 digit number and add its digit
#example 1234=10
num1=input('Please enter the digits')
t=0
for i in num1:
  t=t+int(i)
print(t)

Please enter the digits1234
10

In [ ]:
#Creating list with multiple repeatation
a=[2]*5
b=[3,4]*3
print(a)
print(b)

[2, 2, 2, 2, 2]
[3, 4, 3, 4, 3, 4]

In [ ]:
#Create word list
words=['foo','bar','baz','qux','quux','corge']
print(words[-1])#corge
print(words[-2])
print(words[-len(words)])
print(words[2:5])
print(words[-5:-2])#upper limit is not included -2
words[-5:-2] == words[1:4]
print(words[-2:-5])
print(words[2:len(words)])
print(words[:4]+words[4:]==words)
'qux' in words
'qux' not in words

corge
quux
foo
['baz', 'qux', 'quux']
['bar', 'baz', 'qux']
[]
['baz', 'qux', 'quux', 'corge']
True

False

In [ ]:
#Nested list
l1=['a',['bb',['ccc','ddd'],'ee','ff'],'g',["hh",'ii'],'j']
print(l1[0])
print(l1[1][1]) #access ccc ddd
print(l1[1][1][0])# access only ccc
print(l1[1][1][1])# access only ddd
print(l1[1][2])# access only ee
print(l1[2])# access only g
print(l1[1][3])# access only ff
print(l1[3])# access only hh ii
print(l1[3][0])# access only hh
print(l1[3][1])# access only ii
print(l1[4])#access value of j

a
['ccc', 'ddd']
ccc
ddd
ee
g
ff
['hh', 'ii']
hh
ii
j

In [ ]:
#Compare the list/numbers it will check element by element
l1=[1,2,3,4]
l2=[1,2,3,4]
l1==l2 #false as 5!=4
l1>l2 #it will compare element by element if any value is more then its it compare the values numbers l1[0]

True

In [ ]:
#compare strings
s1=['a','b','c'] #checking ascii values a=97, b=98 c=99
s2=['a','b','c']
s1==s2
s1>s2
s1=['a','b','c'] #checking ascii values a=97, b=98 c=99
s2=['a','c','c']
s1==s2
s1<s2

True

In [ ]:
# make a copy of list
a=[1,2,3,4]
print(a, id(a))
b=a
print(b, id(b))
b=list(a) #deep copy/shallow copy as it will be copied to different location altogether with different mem address using contructor list
print(b, id(b))

[1, 2, 3, 4] 136624568672832
[1, 2, 3, 4] 136624568672832
[1, 2, 3, 4] 136624569881984

In [ ]:
#functions of list
a=[1,2,3,4]
print(a)
a.append(5)
print(a)
a.extend([5,6,7])#we need to use list[] ow it will give error
print(a)
a.insert(3,89) #index, value
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 5, 6, 7]
[1, 2, 3, 89, 4, 5, 5, 6, 7]

In [ ]:
#List deletion
a=[1,2,3,4]
print(a)
a.pop()
print(a) #pop from last element/end
a.remove(1)# remove will search the value
print(a)
a.clear()#clear the list
print(a)

[1, 2, 3, 4]
[1, 2, 3]
[2, 3]
[]

In [ ]:
#reverse the string
a=[1,2,3,4]
print(a)
a.reverse()#it will updated the a
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
#To sort the list
a=[1,23,3,4]
print(a)
a.sort()
print(a)

[1, 23, 3, 4]
[1, 3, 4, 23]

In [ ]:
#To count
a=[1,2,3,4,5,2,2,2]
print(a)
a.count(2)
print(a, a.count(2))

[1, 2, 3, 4, 5, 2, 2, 2]
[1, 2, 3, 4, 5, 2, 2, 2] 4

In [ ]:
#Itterating through list
list1=[1,2,3,4,5,6,7,88,9,10]
for num in list1:
   print(num)

1
2
3
4
5
6
7
88
9
10

List comprehension
List comprehension is a concise way to create list using a single line of code. it is useful for applying an opration or filter to items in an iterable, such as a list or range

#create a list of squares from 1to 5
squares=[x**2 for i in range(1,6)]
print(squares)

In [ ]:
#List comprehension
squares=[i**2 for i in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#List without comprehension

l1=[]
for l1 in range(1,6):
  squares=l1**2
  print(l1, squares)
  print(squares)

[]
[]
[]
[]
[]

In [ ]:
#Without comprehension
l1=[]
for i in range(1,6):
  l1.append(i**2)
print(l1)
l2=l1*2
print(l2)
print(l1)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

Tuples
A tuple in python is an immutable ordered collection of elements
-Tuples are similar to lists,but unlike lists, they cannont be
changed after their creatoin(ie:they are immutable)
-Tuple can hold elements of different data types
-the main charecteristics of tuples are
being ordered, heterogenous and immutable

In [ ]:
#List
l1=['a',1,2,3]
print(l1)
print(type(l1))

#Tuple
t1=('a',1,2,3)
print(t1)
print(type(t1))

['a', 1, 2, 3]
<class 'list'>
('a', 1, 2, 3)
<class 'tuple'>

In [ ]:
#Creating tuple using (), using string, Using list , Using built in function /constructor tuple
tup=()
print(tup)
print(type(tup))
#Using String
t1=('Geeks','of','Geeks')
print(t1)
#Using List
l1=[1,2,3,4]
t1=tuple(l1)#Using tuple fun/constructor from list to tuple
print(t1)
print(type(l1))
print(type(t1))
#Using fun contructor tuple()
t2=tuple('Geeks')
print(t2)

()
<class 'tuple'>
('Geeks', 'of', 'Geeks')
(1, 2, 3, 4)
<class 'list'>
<class 'tuple'>
('G', 'e', 'e', 'k', 's')

In [ ]:
#Nested Tuples
t1=(1,2,3,4,5)
t2=('a','b','c','d')
t3=(t1,t2)# plus sign will not work
print(t3)
#Tuple with mixed Data type
tup=(1,2,3,'Geeks','key','value')
print(tup)
#repeatation of tuple
tup3=tup*3
print(tup3)

((1, 2, 3, 4, 5), ('a', 'b', 'c', 'd'))
(1, 2, 3, 'Geeks', 'key', 'value')
(1, 2, 3, 'Geeks', 'key', 'value', 1, 2, 3, 'Geeks', 'key', 'value', 1, 2, 3, 'Geeks', 'key', 'value')

In [ ]:
#Creating tuple using loop
num=int(input('Please enter the number of items you want ...'))
l1=[]
for i in range(num):
    #print(i)
    #print(l1)
    value=input('Enter Value: ')
    l1.append(value)
print(l1)
t1=tuple(l1)
print(t1)

Please enter the number of items you want ...3
Enter Value: 3
Enter Value: 4
Enter Value: 5
['3', '4', '5']
('3', '4', '5')

In [ ]:
#Unpacking of tuples
t1=(1,2,3,4,5)
a,*b,c=t1
print(a)
print(b)
print(c)
print('-'*10)
a,d,*b,c=t1
print(a)
print(b)
print(d)
print(c)
print('-'*10)
*b,c=t1
print(b)
print(c)

1
[2, 3, 4]
5
----------
1
[3, 4]
2
5
----------
[1, 2, 3, 4]
5

In [ ]:
#Using new feature eval for converting the input string to appropriate data type and convert to tuple
lst=eval(input('Enter the list elements: '))
print(lst, type(lst))
l=len(lst)
t=int(input('eneter any number to serarch: '))
for i in range(0,len(lst)):
  lst[i]==t
  print("element found at index",i+1)
  break
else:
  print("element nout found")

Enter the list elements: 1,2,3,4,5
(1, 2, 3, 4, 5) <class 'tuple'>
eneter any number to serarch: 5
element found at index 1

In [ ]:
# program to search element in a list of numbers/eval by default convert inputed value to tuple

lst=eval(input("enter list elements"))# if we give 2,3,4,5 it will show tuple () but if we need to give list then we need to use[2,3,4,5]
print(lst,type(lst))

#l=len(lst)
print(l)

t=int(input('Enter any number to search'))
for i in range(0,len(lst)):#optimization
  if lst[i]==t:
    print("Element is found at index",i+1)
    break
else:
  print('Element is not found')

enter list elements1,2,3,4
(1, 2, 3, 4) <class 'tuple'>
4
Enter any number to search4
Element is found at index 4

Function:
Function is a group of statements that is executed when it is called from some point of the program
-Its a devide and conquer approach
3 function types
1> Built in functions like int() str() print() float() min() max() etc..

2>Module: Is a container of functions,constants,variables,class in a seperate file which can be reused

stored in extention of .py

i>Importing modules

1>import statement
2>from statement

eg import math

To import all functions or selected one
Syntax:
from module name import function name

for example

from random import randint

3>User defined function
Function is set of statements that performs specific task

Syntax of user defined funciton
def function_name(list of parameters)
..............
...............
statements

def: is a keyword

In [ ]:
#Function in Python
#If function is not returning anything then we can say its a void function
def func1():
  print('Welcome to functions!!! You are funciton body')

func1()
print('You are in main body of the function')

Welcome to functions!!! You are funciton body
You are in main body of the function

In [ ]:
#Fuction sum
def sum(a,b):
  print('In Function')
  c=a+b
  d=a-b
  return c,d
#Main Code
print('In Main')
a=int(input('Enter first number'))
b=int(input('Enter second number'))
c,d=sum(a,b)
print('Sum of two numbers',c)
print('Sub of two numbers',d)

In Main
Enter first number3
Enter second number5
In Function
Sum of two numbers 8
Sum of two numbers -2

In [ ]:
#If we take the output in one variable python will move it to tuples
#Function getting value and returning value
#Fuction sum
def sum(a,b):
  print('In Function')
  c=a+b
  d=a-b
  return c,d
#Main Code
print('In Main')
a=int(input('Enter first number: '))
b=int(input('Enter second number: '))
t=sum(a,b)#value will stored in t tuple c t[0]and t[1]
print('Sum of two numbers',t[0])
print('Sub of two numbers',t[1])

In Main
Enter first number33
Enter second number22
In Function
Sum of two numbers 55
Sub of two numbers 11

In [ ]:
#Function getting value but not returning value
#Function
def even_odd(n):
  if n%2==0:
    print(n,'The given number is even')
  else:
    print(n,'The number is odd')

#Main
print('In Main')
i=int(input('Enter the number to check: '))
even_odd(i)

In Main
Enter the number to check: 5
5 The number is odd

In [ ]:
#Function to
#Function getting value and  returning value
#Function
def even_odd(n):
  if n%2==0:
    return(n,'The given number is even')
  else:
    return(n,'The number is odd')

#Main
print('In Main')
i=int(input('Enter the number to check: '))
even_odd(i)

In Main
Enter the number to check: 5

(5, 'The number is odd')

In [ ]:
#Function not getting anything but returning something

def func1():
   return('Welcome to the python class')

#Main
s=func1()
print('In Main')
print(s)

In Main
Welcome to the python class

In [ ]:
#write a program to check square and cube of number
#Function definition
def square(num):
  '''square a number.'''
  return num ** 2

def cube(num):
  ''' cube of number'''
  return num ** 3
#Main Function
num=float(input('Enter a number to chck square and cube of it: '))#always remember in python input( ) will give you the str type so we need to convert it to float or int
print(f'square of {num} is ',square(num))
print(f'cube of {num} is ',cube(num))

Enter a number to chck square and cube of it: 2
square of 2.0 is  4.0
cube of 2.0 is  8.0

In [ ]:
#Writing square and cube of number

def square(num):
  return num ** 2 #Calculating square of number
def cube(num):
  return num ** 3 #Calculating cube of number

num=float(input('Enter number: '))
print(f'Square of {num} is {square(num)}')
print(f'Cube of {num} is {cube(num)}')

Enter number: 3
Square of 3.0 is 9.0
Cube of 3.0 is 27.0

In [3]:
#Default arguments
#Default arguments should be last in the list
def greet_msg(name='Mohan'):
  print('Hello ', name)

greet_msg()
greet_msg('Vinay')

Hello  Mohan
Hello  Vinay

In [26]:
#Default parameter with last

def greet_msg(a,name='Mohan'):
  print('welcome to python session', a,name)

#main
greet_msg(2,'Mohan')
greet_msg(2)

welcome to python session 2 Mohan
welcome to python session 2 Mohan

In [30]:
#Keyword arguments

def greet_ms(name,msg):
  print(name, msg)
#Main
greet_ms('Rakhee','How are you?')
greet_ms(msg='How are you?',name='Rakhee')
#greet_ms(msg='Hi') will give error

Rakhee How are you?
Rakhee How are you?

TypeError: greet_ms() missing 1 required positional argument: 'name'

In [31]:
#Variable lenght arguments
#*represents it as variable length...
t=[1,2,3,4,5]
a,*b,c=t
print(a,b,c)

1 [2, 3, 4] 5

In [41]:
#variable length arguments

def sum(*n):
  total=0
  for i in n:
    total=i+i
  print('Sum=',total)
  #return total

#main
sum()
sum(10)
sum(10,20,30)

Sum= 0
Sum= 20
Sum= 60

In [53]:
#Gloabal and Local scope of variable in python
m=100
def add_diff(x,y):
  z=x+y
  z1=x-y
  #m=10
  #global m
  #m=m+10
  print("The value of m in function is: ",m)
  return z,z1 #Scope of local variable is finished
def main()
a=10
b=20
a,b=add_diff(a,b) #we can set it as t=add_diff(a,b) then we can access t[0],t[1]
print('Sum is: ',a)
print('diff is: ',b)
global m
m=9
print('Value of m in main function is: ', m)

The value of m in function is:  100
Sum is:  30
diff is:  -10
Value of m in main function is:  9

In [64]:
#Variable length arguments

def sum(*n):
  Total=0
  for i in n:

    Total=i+i
  print('Sum is: ',Total)
  #return Total

#n=int(input('Enter the number')
sum()
sum(10,20)
sum(10,20,30)
#print('Sum is: ',Total)

Sum is:  0
Sum is:  40
Sum is:  60

In [79]:
#calculate +,-,/,* using function

def sum(a,b):
  c=a+b
  return c
def sub(a,b):
   c=a-b
   return c
def mul(a,b):
   c=a*b
   return c

def div(a,b):
  if(b==0):
    return 'error division by zero'
  else:
    c=a/b
    return c
#main
a=float(input('Enter the first number: '))
b=float(input('Enter the second number: '))
s=sum(a,b)
print(f'Addition of {a} and {b} is ',s)
minus=sub(a,b)
print(f'Subtraction of {a} and {b} is ',minus)
d=div(a,b)
print(f'Division of {a} and {b} is ',d)
m=mul(a,b)
print(f'Multiplication of {a} and {b} is ', m)

Enter the first number: 4
Enter the second number: 2
Addition of 4.0 and 2.0 is  6.0
Subtraction of 4.0 and 2.0 is  2.0
Division of 4.0 and 2.0 is  2.0
Multiplication of 4.0 and 2.0 is  8.0

In [83]:
#Menue Driven calculator program in c

#Functions
def add(a,b):
  return a + b

def sub(a,b):
  return a - b

def mul(a,b):
  return a * b

def div(a,b):
  if(b==0):
    return "Error! Devide By Zero"
  else:
    return a / b
#Main

while True:#It will help to run the program till user prints 5 to exit
  print("------------Simple Menue Driven Calaculator----------")
  print("Press 1: for Addition")
  print("Press 2: for Subtraction")
  print("Press 3: for Multiplication")
  print("Press 4: for Division")
  print("Press 5: for Exit")

  choice=int(input('Enter your choice...: '))

  if choice==5:
    print('Exiting from calculator! Bye...')
    break

  #Getting numbers after ensuring program is not exiting

  a=float(input('Enter first number: '))
  b=float(input('Enter Second number: '))

  if choice==1:
    s=add(a,b)
    print(f'Addition of {a} and {b} is {s}')

  elif choice==2:
    s=sub(a,b)
    print(f'Subtraction of {a} and {b} is {s}')

  elif choice==3:
    s=mul(a,b)
    print(f'Multiplication of {a} and {b} is {s}')

  elif choice==4:
    s=div(a,b)
    print(f'Division of {a} and {b} is {s}')
  else:
    print("Please enter valid choice....")

------------Simple Menue Driven Calaculator----------
Press 1: for Addition
Press 2: for Subtraction
Press 3: for Multiplication
Press 4: for Division
Press 5: for Exit
Enter your choice...: 1
Enter first number: 4
Enter Second number: 5
Addition of 4.0 and 5.0 is 9.0
------------Simple Menue Driven Calaculator----------
Press 1: for Addition
Press 2: for Subtraction
Press 3: for Multiplication
Press 4: for Division
Press 5: for Exit
Enter your choice...: 4
Enter first number: 4
Enter Second number: 4
Division of 4.0 and 4.0 is 1.0
------------Simple Menue Driven Calaculator----------
Press 1: for Addition
Press 2: for Subtraction
Press 3: for Multiplication
Press 4: for Division
Press 5: for Exit
Enter your choice...: 3
Enter first number: 4
Enter Second number: 5
Multiplication of 4.0 and 5.0 is 20.0
------------Simple Menue Driven Calaculator----------
Press 1: for Addition
Press 2: for Subtraction
Press 3: for Multiplication
Press 4: for Division
Press 5: for Exit
Enter your choice...: 5
Exiting from calculator! Bye...