<a href="https://colab.research.google.com/github/sumitmsc/PythonPractice/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=23
result=a+b
print(f"addition of {a} and {b} is ==>",result)

addition of 10 and 23 is ==> 33

In [ ]:
print("hello- New Cell")

hello- New Cell

In [ ]:
a=10
if a>10:
  print("hello")

type(a)

int

In [ ]:
y=str(a)
print(y)
type(y)

10

str

In [ ]:
Age=10
age=23
print(age,Age)
print(id(Age))
print(id(age))

23 10
11642376
11642792

Arithmetic operators +,-*/,//(integer devision),**
Logical operators and, or , not
relational operators ->,<,<=,>=,!=,==
Unary operators are not available
Bolean true false\
Bitwise- &,|
membership operators in, not in
is, is not

In [ ]:
a=2
b=5
print(a**b)# a power of b

print('technical devision', a/b)
print('integer/floor devision',a//b)

32
technical devision 0.4
integer devision/floor 0

In [ ]:
!python --version

Python 3.12.11

In [ ]:
a=10
b=10
c=10
print(id(a))
print(id(b))
print(id(c))

b=50
print()
print(id(b))

print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))

11642376
11642376
11642376

11643656
0xb1a608
0xb1ab08
0xb1a608

In [ ]:
#use of \ for better readablilty
total=1+2+3+\
4+5+6
print(total)

21

In [ ]:
#Program for checking dynamic nature of python, dynamically typed language
counter=100
miles=11.11
name='Sumit'
print(counter, miles, name)
print(type(counter))
print(type(miles))
print(type(name))
#del use

#del counter
print(miles)
print(name)
counter=12
print(counter)

100 11.11 Sumit
<class 'int'>
<class 'float'>
<class 'str'>
11.11
Sumit
12

In [ ]:
#Explicit Continuation
s="Today we are learning explicit continuation"\
"and it will give error"
print(s)

Today we are learning explicit continuationand it will give error

In [ ]:
#implicit continuation
numbers=[1,2,3,
         4,5,6]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Operators in Python
a=10
b=3
print(a//b)#floor=nearest lower integer
print(a/b)
print(a**b)#10 to the power of 3
print(f'checking identity for {a} is equal to {b}==>',a is b)#Identity operator
print(f'checking identity for {a} is not equal to {b}==>',a is not b)#identity operator true
#Membership operators
str='hello'
print('Membershio operator example')
print('e' in str)
print('e' not in str)

3
3.3333333333333335
1000
checking identity for 10 is equal to 3==> False
checking identity for 10 is not equal to 3==> True
Membershio operator example
True
False

In [ ]:
print(help)
help(print)

Type help() for interactive help, or help(object) for help about object.
Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
#Use of membership opertor to check the word in given string

str='hello'
print('Please enter the word you want to search')
s=input()
print(f'you are searching the word {s} in the string')
'''if s in str:
   print(f'{s} is avalable in string')
else:
   print(f'{s} is not available in string')
'''
print(s in str)

Please enter the word you want to search
h
you are searching the word h in the string
True

In [ ]:
#Use of identity operator is , is not

a=10
b=10
print(a is not b)

False

In [ ]:
#Class of a variable
a=10
b=10
print(type(a))
print(type(b))
print(id(a))
print(id(b))
a=a+2
print(a)
print(id(a))

<class 'int'>
<class 'int'>
11642376
11642376
12
11642440

In [ ]:
#Slicing (start:end:step)
str="Program"
print(str[1:6])#Upper limit is not inclusive thats why rogra str[lower limit: upper limit -1]
#Now we are checking the step 2 result it should be r g a as those are situated in the range 1:6 with steps 2
print(str[1:6:3])

rogra
rr

In [ ]:
#Check for Palindrom
s=input("enter the string ").lower()
if s==s[::-1]:
  print("palindrom")
else:
  print("not palindrom")

  '''s = input("enter the string ")

This line asks the user to type a string.

Whatever you type will be stored in the variable s.

Example: if you type madam, then s = "madam".

s[::-1]

This is Python slicing.

It means: take the string s and reverse it.

Breakdown:

s[start:stop:step]

Here, start and stop are empty → it takes the whole string.

step = -1 → means "go backwards".

So if s = "madam", then s[::-1] = "madam" (same when reversed).

if s == s[::-1]:

This compares the original string to its reversed version.

If both are the same → it’s a palindrome.

Example:

"madam" == "madam" ✅ (palindrome)

"hello" == "olleh" ❌ (not palindrome)

print("palindrom") / print("not palindrom")

Based on the condition:

If true → prints palindrom

If false → prints not palindrom'''

enter the string Nitin
not palindrom

In [ ]:
#Program to check palindrom or not
s=input('enter the string to check if the string is  palindrom or not ')
if s==s[::-1]:
  print(f'You have entered string {s} and string is Palindrom')
else:
  print(f'You have entered string {s} and string is Not Palindrom')

enter the string to check if the string is  palindrom or not Nitin
You have entered string Nitin and string is Not Palindrom

In [ ]:
str='program'
str=str[-1:-2]
print(str)

In [ ]:
#String immutability
a="hello"
print(a)
a="H" + a[2:]
print(a)

hello
Hllo
Checking replace function
HelloH
helloh

In [ ]:
#checking replace function
print('Checking replace function')
a='helloh'
a1=a.replace('h','H')
print(a1)
print(a)

Checking replace function
HelloH
helloh

In [ ]:

#checking replace function
print('Checking replace function')
a='helloh'
a1=a.replace('h','H')
print(a1)
print(a)
print(len(a))
print(a.upper())
print(a.lower())
print(a.capitalize())

Checking replace function
HelloH
helloh
6
HELLOH
helloh
Helloh

In [ ]:
#Join function
l=["Hello","how","are","you"]
print(l[1])
print(" ".join(l))#Seperated by space
print("#".join(l))#Seperated by #
print(",".join(l))#Seperated by ,

how
Hello how are you
Hello#how#are#you
Hello,how,are,you

In [ ]:
#concatination symbol
a='heelo'
b='sumit'
c=a + " " + b + " "
print(c*3)
print('*'*10)#in strings * is repitation operator

heelo sumit heelo sumit heelo sumit
**********

In [ ]:
#List uses []
#List are mutable l1[2]='NEW' is posible/replace ment is possible (assignment operator)
#
l=[1,2,3,4,5]
l1=list()
print(type(l))
print(l)
l1=[10.3,20,30,'Rakhee']#Multiple type of data can be stored in the list
print(l,l1)
print(type(l1[3]))
print(l1[-1])
st=["hello","how","are","you"]
print(st)
s1=" ".join(st)# Converting list into string by using join method
print(s1)

<class 'list'>
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] [10.3, 20, 30, 'Rakhee']
<class 'str'>
Rakhee
['hello', 'how', 'are', 'you']
hello how are you

In [ ]:
#tuple
#tuple dose not support the assignamet operator
#Tuple/strings are immutable
t=(1,2,3,4)
t1=tuple()#Constructor
print(type(t))
print(type(t1))
t1=(10.5,34,"Rakhee")

print(t)
print(t1)

t1[2]='New'
print(t1)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)
(10.5, 34, 'Rakhee')

TypeError: 'tuple' object does not support item assignment

In [11]:
#Set
#sets are mutable
s=set() #set constructor
print(type(s))
s1={1,2,3,3,3, 4,5} #set must have comma seperation ow s1={} empty it is a dictionary also it will show single value of duplicate data
print(type(s1))
print(s1)
s1.add(8)
print(s1)
s1.remove(3)
print(f'after removing',s1)
s2={}
print(s2)
print(type(s2))

<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 8}
after removing {1, 2, 4, 5, 8}
{}
<class 'dict'>

In [1]:
#Dictionary
d={}
d1=dict() #Constructor
print(type(d))
print(type(d1))
d={1:"Rakhee",2:"New"}# Key: Value pair considered as one value
print(d)
print(d[1])
print(d[3])

<class 'dict'>
<class 'dict'>
{1: 'Rakhee', 2: 'New'}
Rakhee

KeyError: 3