<a href="https://colab.research.google.com/github/sumitmsc/PythonPractice/blob/main/SetRevision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ðŸ§  What is a Set in Python?
A set is a built-in data structure in Python used to store unique, unordered items. Itâ€™s useful when you want to eliminate duplicates or perform mathematical set operations like union, intersection, and difference.

âœ… Key Features of Sets:

Unordered: No indexing or slicing.
Unique elements: No duplicates allowed.
Mutable: You can add or remove items.
Efficient: Fast membership testing (in).

In [5]:
#Creating set with {}
my_set={1,2,3,4,5,5}
print(my_set)
#Note: empty opening and closing braces will be considered as dictionary object as below
#set={}
print(type(set))

{1, 2, 3, 4, 5}
<class 'dict'>

In [2]:
#Creating set with set() function
my_set=set([1,2,2,3])
print(my_set)

{1, 2, 3}

In [18]:
#functions with set add , remove , discard,pop,clear, union , intersection, difference

my_set={1,2,3,4}
my_set2={3,4,5,6}
print('original set1',my_set)
print('original set2',my_set2)
#add method
print('---------------------')
print('using add function to add 5 and 7')
my_set.add(5)#Set: add method will take exactly one element
my_set2.add(7)
print(my_set)
print(my_set2)
print('---------------------')
#remove elements
print('Use of remove function for 5 and 7')
my_set.remove(5)
my_set2.remove(7)
print(my_set)
print(my_set2)
print('---------------------')
#discard elements even if its not in the set it wont give use key 9 error
print('Use of discard function for 5 and 7')
my_set.discard(5)
my_set2.discard(9)
print(my_set)
print(my_set2)

original set1 {1, 2, 3, 4}
original set2 {3, 4, 5, 6}
---------------------
using add function to add 5 and 7
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
---------------------
Use of remove function for 5 and 7
{1, 2, 3, 4}
{3, 4, 5, 6}
---------------------
Use of discard function for 5 and 7
{1, 2, 3, 4}
{3, 4, 5, 6}

In [32]:
#using function pop() removes arbitrary element and clear() removes all elements

set1={1,2,3,4}
set2={4,5,6,7,'test'}
print(set1)
print(set2)
print('-------------------')
#remove fuctnion
print('Using remove functin to remove "test" from set 2')
set2.remove('test')
print(set2)
#pop function
print('-------------------')
print('Using pop function to remove arbitrary value  from set 2')
print('set2 before pop fuction',set2)
p=set2.pop()
print(f'after pop function {p} has been poped out',set2)
p=set2.pop()
print(f'after pop function {p} has been poped out',set2)
#clear method in set
print('-------------------')
set1={3,4,5,6,7}
print('Set1 before clear',set1)
print('Using clear function to remove/delete all elements from set 2')
set1.clear()
print(set1)

{1, 2, 3, 4}
{4, 5, 6, 7, 'test'}
-------------------
Using remove functin to remove "test" from set 2
{4, 5, 6, 7}
-------------------
Using pop function to remove arbitrary value  from set 2
set2 before pop fuction {4, 5, 6, 7}
after pop function 4 has been poped out {5, 6, 7}
after pop function 5 has been poped out {6, 7}
-------------------
Set1 before clear {3, 4, 5, 6, 7}
Using clear function to remove/delete all elements from set 2
set()

In [35]:
#Mathematical functions in set

s1={1,2,3,4,5}
s2={3,4,5,6,7}
#union
combine=s1.union(s2)
print(combine) # output: {1,2,3,4,5,6,7}
intersection=s1.intersection(s2)
print(intersection)# output:{3,4,5} Common elements
difference=s1.difference(s2)# output:{1,2} it will give us the elements which are in s1 only and not in s2
print(difference)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [50]:
#list with sets
#convert the list in to set

#del set
my_list1=[1,2,3,3,4,4,5]
#Convert the list to set for uniqueness
my_set123=set(my_list1)

print('Original List: ',my_list1)
print('Converted set :', my_set123)

#Set back the unique elements of my_set123 back to the to list with unique elements

unique_list=list((my_set123))
print('Set back to list with unique elements ',unique_list)

Original List:  [1, 2, 3, 3, 4, 4, 5]
Converted set : {1, 2, 3, 4, 5}
Set back to list with unique elements  [1, 2, 3, 4, 5]

In [1]:
#remove duplicates from list
names = ["Sumit", "Amit", "Sumit", "Neha"]
unique_names = list(set(names))
print(unique_names)  # Output: ['Neha', 'Sumit', 'Amit']

['Amit', 'Sumit', 'Neha']

In [6]:
#Remove duplicates from list

duplicate_list=['a','a','b','b','c','c']
unique_list=list(set(duplicate_list))
print(unique_list)

['c', 'b', 'a']